<table>
  <% @posts.each do |post| %>
    <tr class="table-post-title">
      <td>
        <%= link_to post.title, post.url %>
      </td>
    </tr>
    <tr class="table-post-details">
      <td>
        <span>Posted by <%= post.user.name %></span>
        <span>|</span>
        <span><%= time_ago_in_words(post.created_at).gsub('about', '') %></span>
        <span>|</span>
        <span><%= link_to pluralize(post.comments.size, "comment"), post %></span>
      </td>
    </tr>
    <tr class="table-spacer"></tr>
  <% end %>
</table>